@import url('https://fonts.googleapis.com/css?family=Taviraj');
@import url('https://fonts.googleapis.com/css?family=Sarabun:200&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');

/* @import url('https://fonts.googleapis.com/css?family=Kanit500&display=swap'); */

* {
    margin: 0;
    padding: 0;
}

html,
body {
    background: linear-gradient(to bottom, #ffffff 45%, #c5e9ef 100%) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow-x: hidden;
}


/* .bg-process {
    background: linear-gradient(to bottom, #ffffff 65%, #c5e9ef 100%);
    height: 100%;
    width: 100%;
} */


/* navbar */

.navbar {
    background-color: transparent;
    width: 100vw;
    height: 10%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 4;
    transition: top 0.8s;
}

.nav {
    width: 100%;
    margin-top: 5%;
}

.navbar ul {
    position: relative;
    left: 4.5%;
    list-style-type: none;
}

.navbar ul li {
    text-align: center;
    float: left;
    width: 10%;
    padding: 1.5%;
}

#logo img {
    margin-top: -12%;
    width: 70%;
}

#con img {
    width: 50%;
    margin-left: -30%;
    margin-top: 3%;
}

#home img {
    width: 50%;
    margin-left: 30%;
    margin-top: -2%;
}


/* hover menu */

.menu img:last-child {
    display: none
}

.menu:hover img:first-child {
    display: none
}

.menu:hover img:last-child {
    display: inline-block
}

.main {
    width: auto;
    position: relative;
    z-index: 1;
}


/* topic */

.topic-text {
    width: auto;
    height: 60%;
    margin-top: 25%;
    position: relative;
}

h1 {
    /* position: absolute;
    top: 20%;
    right: 13%;
    text-align: center;
    letter-spacing: 2px; */
    position: absolute;
    padding-top: 10%;
    left: 45%;
    text-align: center;
    letter-spacing: 2px;
    z-index: 2;
}

.topic-main {
    font-size: 1.3em;
    color: #3C6868;
    font-family: 'Kanit', sans-serif;
}

.topic-sub {
    font-size: 1em;
    color: #E97625;
    font-family: 'Kanit', sans-serif;
    font-weight: 100;
}

.cow1 {
    position: absolute;
    width: 80%;
    left: -2%;
    z-index: 2;
}


/* text2-pic_car */

.text2 {
    position: relative;
    width: 100%;
    height: 50%;
    top: 850px;
}

.car1-1 {
    position: absolute;
    width: 60%;
    left: -2%;
    top: 80px;
    z-index: 2;
}

.text2 p {
    font-size: 1.2em;
    font-family: 'Kanit', sans-serif;
    color: #434264;
    position: absolute;
    left: 55%;
    top: 250px;
}

.text2 b {
    font-size: 1.5em;
    font-family: 'Kanit', sans-serif;
    color: #418482;
    font-weight: 100;
}


/* text3-pic_cow2 */

.text3 {
    position: relative;
    width: auto;
    height: 50%;
    top: 1300px;
}

.cow2-2 {
    position: absolute;
    width: 60%;
    left: 50%;
    z-index: 2;
}

.text3 b {
    font-size: 1.5em;
    font-family: 'Kanit', sans-serif;
    color: #418482;
    font-weight: 100;
}

.text3 p {
    font-size: 1.2em;
    font-family: 'Kanit', sans-serif;
    color: #434264;
    position: absolute;
    left: 20%;
    top: 400px;
    text-align: right;
}


/* text4-pic_cow3_milk*/

.text4 {
    position: relative;
    width: auto;
    height: 50%;
    top: 2000px;
}

.milk {
    position: absolute;
    width: 30%;
    left: 15%;
}

.cow3 {
    position: absolute;
    width: 50%;
    top: 300px;
    left: 32%;
}

.text4 b {
    font-size: 1.5em;
    font-family: 'Kanit', sans-serif;
    color: #418482;
    font-weight: 100;
}

.text4 p {
    font-size: 1.2em;
    font-family: 'Kanit', sans-serif;
    color: #434264;
    position: absolute;
    left: 50%;
    top: 150px;
    width: 30%;
}


/* text5-pic__milk2*/

.text5 {
    position: relative;
    width: auto;
    height: 50%;
    top: 2900px;
}

.milk2 {
    position: absolute;
    width: 50%;
    left: 53%;
}

.text5 b {
    font-size: 1.5em;
    font-family: 'Kanit', sans-serif;
    color: #418482;
    font-weight: 100;
}

.text5 p {
    font-size: 1.2em;
    font-family: 'Kanit', sans-serif;
    color: #434264;
    position: absolute;
    left: 20%;
    top: 10px;
    width: 30%;
    text-align: right;
}


/* text6-pic_foot*/

.text6 {
    position: relative;
    width: auto;
    height: 150%;
    top: 2880px;
    margin-bottom: -11%;
}

.foot {
    position: absolute;
    width: 100%;
}

.text6 p {
    font-size: 1.8em;
    font-family: 'Kanit', sans-serif;
    color: #434264;
    position: absolute;
    left: 55%;
    top: 600px;
    width: 30%;
    text-align: center;
}

.text6 p1 {
    color: #E97625;
}


/* all-cloud */

.cloud1 {
    z-index: 1;
}

.cloud1 .cloud1-1 {
    width: 20%;
    right: -5%;
    top: 100px;
    position: absolute;
    animation: mymove 8s infinite;
}

.cloud1 .cloud1-2 {
    width: 10%;
    top: 350px;
    right: 8%;
    position: absolute;
    animation: mymove 9s infinite;
}

.cloud1 .cloud1-3 {
    width: 20%;
    top: 700px;
    right: -1%;
    position: absolute;
    animation: mymove2 11s infinite;
}

.cow .cloud2 {
    width: 20%;
    position: absolute;
    top: 350px;
    left: 16%;
    animation: mymove2 8s infinite;
    z-index: ;
}

.car1 .cloud3 {
    width: 20%;
    top: -50px;
    position: absolute;
    left: -10%;
    z-index: 1;
    animation: mymove 7s infinite;
}

.car1 .cloud4 {
    width: 10%;
    top: 120px;
    position: absolute;
    left: 28%;
    z-index: 3;
    animation: mymove2 10s infinite;
}

.cow2 .cloud5 {
    width: 20%;
    top: 50px;
    position: absolute;
    right: 20%;
    z-index: 1;
    animation: mymove 7s infinite;
}

.cow2 .cloud6 {
    width: 20%;
    top: 300px;
    position: absolute;
    left: -8%;
    z-index: 3;
    animation: mymove2 10s infinite;
}


/* animation cloud */

@keyframes mymove {
    0%,
    100% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(100px, 0);
    }
}

@keyframes mymove2 {
    0%,
    100% {
        transform: translate(100px, 0);
    }
    50% {
        transform: translate(0px, 0);
    }
}